# Problem 3

Part a:

In [1]:
sql="""
SELECT *
  FROM icij.PD_Officers
 WHERE name LIKE 'Tillerson%'
"""

In [2]:
import SciServer.CasJobs as cj

In [3]:
df =cj.executeQuery(sql,'IPDSDB')
# print the result. If the df is empty there is a problem.
df

,id,labels_n_,valid_until,country_codes,countries,node_id,sourceID,address,name,jurisdiction_description,service_provider,jurisdiction,closed_date,incorporation_date,ibcRUC,type,status,company_type,note
0,38463,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80133535,Paradise Papers - Appleby,None,Tillerson - Rex,None,None,None,None,None,None,None,None,None,

Part b:

In [4]:
sql="""
SELECT en.*
  FROM icij.PD_Officers o
     INNER JOIN icij.PD_Edges ed
       ON ed.node_1=o.node_id
     INNER JOIN icij.PD_Entities en
       on en.node_id=ed.node_2
 WHERE o.name LIKE 'Tillerson%'
"""
df1=cj.executeQuery(sql,'IPDSDB')
df1

,id,labels_n_,valid_until,country_codes,countries,node_id,sourceID,address,name,jurisdiction_description,service_provider,jurisdiction,closed_date,incorporation_date,ibcRUC,type,status,company_type,note,incorporation_date_D
0,6401,"[""Entity""]",Appleby data is current through 2014,BMU,Bermuda,82002671,Paradise Papers - Appleby,,Marib Upstream Services Company Ltd.,Bermuda,Appleby,BM,,1997-Jan-17,EC 22859,CE,,,,1/17/1997 12:00:00 AM

Part c:

This first query gives many more officers than in the graph.

In [5]:
sql="""
SELECT o.*
  FROM icij.PD_Officers o1
     INNER JOIN icij.PD_Edges ed
       ON ed.node_1=o1.node_id
     INNER JOIN icij.PD_Entities en
       on en.node_id=ed.node_2
     INNER JOIN icij.PD_Edges ed1
       ON ed1.node_2=en.node_id
     INNER JOIN icij.PD_Officers o
       ON o.node_id=ed1.node_1
 WHERE o1.name LIKE 'Tillerson%'
"""
df2=cj.executeQuery(sql,'IPDSDB')
df2

,id,labels_n_,valid_until,country_codes,countries,node_id,sourceID,address,name,jurisdiction_description,service_provider,jurisdiction,closed_date,incorporation_date,ibcRUC,type,status,company_type,note
0,24294,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80090958,Paradise Papers - Appleby,None,LAWLER - Michael G.,None,None,None,None,None,None,None,None,None,
1,18430,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80075411,Paradise Papers - Appleby,None,Hassan - Anwar Salem,None,None,None,None,None,None,None,None,None,
2,37185,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80129140,Paradise Papers - Appleby,None,Sullentrop - Stephen,None,None,None,None,None,None,None,None,None,
3,37185,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80129140,Paradise Papers - Appleby,None,Sullentrop - Stephen,None,None,None,None,None,None,None,None,None,
4,1903,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80027953,Paradise Papers - Appleby,None,Al-Ahdal - Taha A.,None,None,None,None,None,None,None,None,None,
5,1903,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80027953,Paradise Papers - Appleby,None,Al-Ahdal - Taha A.,None,None,None,None,None,None,None,None,None,
6,1903,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80027953,Paradise Papers - Appleby,None,Al-Ahdal - Taha A.,None,None,None,None,None,None,None,None,None,
7,21429,"""[""""Officer""""]""",Appleby data is current through 2014,,,80084029,Paradise Papers - Appleby,None,Jones - U.M. Paul,None,None,None,None,None,None,None,None,None,
8,21430,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80084030,Paradise Papers - Appleby,None,Jones - Uriel Paul,None,None,None,None,None,None,None,None,None,
9,1971,"""[""""Officer""""]""",Appleby data is current through 2014,FRA,France,80028198,Paradise Papers - Appleby,None,Al-Dailami - Ismail Y.,None,None,None,None,None,None,None,None,None,
10,4712,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80036969,Paradise Papers - Appleby,None,Cobb - Michael M.,None,None,None,None,None,None,None,None,None,
11,4712,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80036969,Paradise Papers - Appleby,None,Cobb - Michael M.,None,None,None,None,None,None,None,None,None,
12,4712,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80036969,Paradise Papers - Appleby,None,Cobb - Michael M.,None,None,None,None,None,None,None,None,None,
13,4712,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80036969,Paradise Papers - Appleby,None,Cobb - Michael M.,None,None,None,None,None,None,None,None,None,
14,4712,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80036969,Paradise Papers - Appleby,None,Cobb - Michael M.,None,None,None,None,None,None,None,None,None,
15,70732,"""[""""Officer""""]""",Appleby data is current through 2014,,,80147264,Paradise Papers - Appleby,None,Yemen Exploration & Production Company,None,None,None,None,None,None,None,None,None,
16,70733,"""[""""Officer""""]""",Appleby data is current through 2014,,,80147265,Paradise Papers - Appleby,None,YEMEN GAS COMPANY,None,None,None,None,None,None,None,None,None,
17,70735,"""[""""Officer""""]""",Appleby data is current through 2014,YEM,Yemen,80147267,Paradise Papers - Appleby,None,Yemen LNG Company,None,None,None,None,None,None,None,None,None,
18,11390,"""[""""Officer""""]""",Appleby data is current through 2014,,,80054320,Paradise Papers - Appleby,None,Daganaud - Jean-Francois,None,None,None,None,None,None,None,None,None,
19,32011,"""[""""Officer""""]""",Appleby data is current through 2014,FRA;DEU,France;Germany,80111275,Paradise Papers - Appleby,None,PECH - CHRISTIAN,None,None,None,None,None,None,None,None,None,
20,2168,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80028847,Paradise Papers - Appleby,None,Al-Madani - Mohammed,None,None,None,None,None,None,None,None,None,
21,3062,"""[""""Officer""""]""",Appleby data is current through 2014,FRA,France,80032138,Paradise Papers - Appleby,None,Azalbert - Jean-Paul,None,None,None,None,None,None,None,None,None,
22,15505,"""[""""Officer""""]""",Appleby data is current through 2014,USA;YEM,United States;Yemen,80066526,Paradise Papers - Appleby,None,Fort - Joel,None,None,None,None,None,None,None,None,None,
23,19780,"""[""""Officer""""]""",Appleby data is current through 2014,,,80078758,Paradise Papers - Appleby,None,Howard - L R,None,None,None,None,None,None,None,None,None,
24,38463,"""[""""Officer""""]""",Appleby data is current through 2014,USA,United States,80133535,Paradise Papers - Appleby,None,Tillerson - Rex,None,None,None,None,None,None,None,None,None,
25,6328,"""[""""Officer""""]""",Appleby data is current through 2014,,,80040605,Paradise Papers - Appleby,None,Boutelant - Pierre,None,None,None,None,None,None,None,None,None,

To get only the officers with a relation to Yemen, add a LIKE clause to the WHERE condition.

In [6]:
sql="""
SELECT o.*
  FROM icij.PD_Officers o1
     INNER JOIN icij.PD_Edges ed
       ON ed.node_1=o1.node_id
     INNER JOIN icij.PD_Entities en
       on en.node_id=ed.node_2
     INNER JOIN icij.PD_Edges ed1
       ON ed1.node_2=en.node_id
     INNER JOIN icij.PD_Officers o
       ON o.node_id=ed1.node_1
 WHERE o1.name LIKE 'Tillerson%' AND o.name LIKE 'Yemen%'
"""
df2=cj.executeQuery(sql,'IPDSDB')
df2

,id,labels_n_,valid_until,country_codes,countries,node_id,sourceID,address,name,jurisdiction_description,service_provider,jurisdiction,closed_date,incorporation_date,ibcRUC,type,status,company_type,note
0,70732,"""[""""Officer""""]""",Appleby data is current through 2014,,,80147264,Paradise Papers - Appleby,None,Yemen Exploration & Production Company,None,None,None,None,None,None,None,None,None,
1,70733,"""[""""Officer""""]""",Appleby data is current through 2014,,,80147265,Paradise Papers - Appleby,None,YEMEN GAS COMPANY,None,None,None,None,None,None,None,None,None,
2,70735,"""[""""Officer""""]""",Appleby data is current through 2014,YEM,Yemen,80147267,Paradise Papers - Appleby,None,Yemen LNG Company,None,None,None,None,None,None,None,None,None,

In [43]:
#sql="""
#SELECT o.*
#  FROM icij.PD_Entities en
#     INNER JOIN icij.PD_Edges ed
#       ON ed.node_2=en.node_id
#     INNER JOIN icij.PD_Officers o
#       on o.node_id=ed.node_1
# WHERE en.name LIKE 'Marib%' AND o.name LIKE 'Yemen%'
#"""
#df2=cj.executeQuery(sql,'IPDSDB')
#df2